<?xml version="1.0" encoding="UTF-8"?>
<qroxyConfig version="1.0">
    <proxy>
        <!-- <bindAddress></bindAddress> -->
        <bindPort>8080</bindPort>
    </proxy>
    <webUi>
        <!-- <bindAddress></bindAddress> -->
        <bindPort>80</bindPort>
    </webUi>
    <cache>
        <path>~/Desktop/cache</path>
        <maxDefaultSize>10000</maxDefaultSize>
        <exchangingMulticastAddress>239.252.0.0</exchangingMulticastAddress><!-- The port is the same as the proxy bindPort -->
    </cache>
    <categories>
        <!-- The order of categories are important because if several categories
        matches a header, first will be affected -->
        <category name="test">
            <regexs>
                <regex applyOn="url">dfgf</regex>
                <regex applyOn="Content-Length">0</regex>
            </regexs>
            <qosRule>
                <maxSpeed>100</maxSpeed>
                <priority>2</priority>
            </qosRule>
            <cacheRule>
                <maxSize>1000</maxSize>
            </cacheRule>
        </category>
    </categories>
</qroxyConfig>