<?xml version="1.0" encoding="UTF-8"?>
<qroxyConfig version="1.0">
    <proxy>
        <!-- <bindAddress></bindAddress> -->
        <bindPort>8080</bindPort>
    </proxy>
    <webUi>
        <!-- <bindAddress></bindAddress> -->
        <bindPort>80</bindPort>
    </webUi>
    <cache>
        <path>~/Desktop/cache</path>
        <maxDefaultSize>10000</maxDefaultSize><!-- In bytes -->
        <exchangingMulticastAddress>239.252.0.0</exchangingMulticastAddress><!-- The port is the same as the proxy bindPort -->
    </cache>
    <categories>
        <!-- The order of categories are important because if several categories
        matches a header, first will be affected -->
        <category name="test">
            <regexs>
                <regex applyOn="url">.*ubuntu.*</regex>
            </regexs>
            <qosRule>
                <maxSpeed>10000</maxSpeed><!-- In bytes per second -->
                <priority>4</priority><!-- In range [1-10], Best priority is 1, lowest is 10. Default is 5 -->
            </qosRule>
            <cacheRule>
                <maxSize>1000</maxSize><!-- In bytes -->
            </cacheRule>
        </category>
    </categories>
</qroxyConfig>